*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: rgb(54, 54, 54);
}

.footer .f-logo{
    display: flex;
    justify-content: center;
}

.footer .f-logo img{
    width: 170px;
}

.footer ul{
    margin-top: 30px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    font-size: medium;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul a:hover{
    opacity: 1;
}

.copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: white;
}